{% extends "dashboard/base/ad_base.html" %}

{% block title %}Category Management{% endblock %}
{% block style %}
    <style>
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}


{% block content %}
    <h1 class="h2 mb-2 text-black-800 title-manage">Category Management</h1>
    <div class="breadcrumb">
        <a href="/dashboard/">Home</a>
        <span> > </span>
        <a href="/dashboard/category/">Category Management</a>
    </div>
    {# Searchbox bar right here#}
    <div class="search-form">
        <form action="/dashboard/category/search/" method="post">
            {% csrf_token %}
            <div class="input-group search-manage">
                <input type="text" class="form-control border-0 small search-manage-input" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2" name="search"
                       {% if search_query %}value="{{ search_query }}"{% endif %}>
                <input type="hidden" name="t" value="{{ timestamp }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search fa-sm"></i>
                    </button>
                    <a type="button" class="btn btn-danger" id="clear-btn" href="/dashboard/category/">
                        <i class="fa fa-times fa-sm"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    {# End of searchbox bar#}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a type="button" class="btn btn-primary btn-md float-right btn-block" href="/dashboard/category/add/"
               title="Add New"><img
                    src="{% static 'dashboard/images/icons/add.png' %}" class="add-icon" alt="Add New"
                    title="Add New"> Add New
            </a>
            <form id="delete-form" method="post" action="/dashboard/category/delete_selected/">
                {% csrf_token %}
                <button type="button" id="delete-selected" class="btn btn-danger btn-md float-right btn-block"
                        title="Delete Selected" name="delete_selected" data-submit-form><img
                        src="{% static 'dashboard/images/icons/trash.png' %}" class="add-icon" alt="Delete Selected"
                        title="Delete Selected">Delete Selected
                </button>
            </form>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/dashboard/category/export/csv/">Export to CSV</a>
                <a class="dropdown-item" href="/dashboard/category/export/excel/">Export to Excel</a>
                <a class="dropdown-item" href="/dashboard/category/export/json/">Export to JSON</a>
            </div>
            <button type="button" class="btn btn-success btn-md float-right btn-block dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img
                    src="{% static 'dashboard/images/icons/export.png' %}" class="add-icon" alt="Export Data"
                    title="Export Data">
                Export Data
            </button>
        </div>
        {% if categories %}
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-auto table-style">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th scope="col">No.</th>
                            <th scope="col">ID</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Category Description</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td><input type="checkbox" class="select-checkbox" name="selected_categoy"
                                           value="{{ category.id }}"></td>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ category.id }}</td>
                                <td>{{ category.slug }}</td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.description }}</td>
                                <td class="action">
                                    <a href="/dashboard/category/details/{{ category.id }}/"><img
                                            src="{% static 'dashboard/images/icons/detail.png' %}"
                                            alt="Details"
                                            title="Details"></a>
                                    <a href="/dashboard/category/update/{{ category.id }}/"><img
                                            src="{% static 'dashboard/images/icons/edit.png' %}"
                                            alt="Edit"
                                            title="Edit"></a>
                                    <a href="/dashboard/category/delete/{{ category.id }}/"
                                       onclick="return confirm('Are you sure?')"><img
                                            src="{% static 'dashboard/images/icons/delete.png' %}"
                                            alt="Delete"
                                            title="Delete"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'dashboard/manage_category/pagination.html' %}
            </div>
        {% else %}
            {% include 'dashboard/manage_category/404.html' %}
        {% endif %}
    </div>


{% endblock %}

{% block scripts %}
    <script>
        // Delete selected function
        document.addEventListener("DOMContentLoaded", function () {
            // Get the form and the delete selected button
            let form = document.getElementById("delete-form");
            let deleteBtn = document.querySelector("[data-submit-form]");
            let selectAllCheckbox = document.getElementById("select-all");

            // Listen for the click event on the delete selected button
            deleteBtn.addEventListener("click", function (event) {
                    // Get the selected checkboxes
                    let checkboxes = document.querySelectorAll(".select-checkbox:checked");
                    // If no checkboxes are selected, prevent the form submission
                    if (checkboxes.length === 0) {
                        event.preventDefault();
                        alert("Please select at least one category to delete.");
                    } else {
                        // Show confirm dialog and proceed only if OK is clicked
                        let confirmed = confirm('Are you sure to delete this selected?');
                        if (confirmed) {
                            // Update the action attribute of the form
                            let Ids = Array.from(checkboxes).map(function (checkbox) {
                                return checkbox.value;
                            });
                            form.action = "/dashboard/category/delete_selected/" + Ids.join("+") + "/";
                            // Submit the form
                            form.submit();
                        }
                    }
                }
            )
            ;

            // Listen for the click event on the select-all checkbox
            selectAllCheckbox.addEventListener("click", function () {
                // Get all the object checkboxes
                let objectCheckboxesAll = document.querySelectorAll(".select-checkbox");
                // Set their checked property based on the select-all checkbox
                objectCheckboxesAll.forEach(function (checkbox) {
                    checkbox.checked = selectAllCheckbox.checked;
                    let Ids = Array.from(objectCheckboxesAll).map(function (checkbox) {
                        return checkbox.value;
                    });
                    form.action = "/dashboard/category/delete_selected/" + Ids.join("+") + "/";
                });
            });
        });
    </script>
{% endblock %}