<div class="pagination">
    <div class="left">
        Showing <strong>{{  brands.object_list|length }}</strong> of <strong>{{ brands.paginator.count }}</strong> entries
    </div>
    <div class="right">
        {% if brands.has_previous %}
            {% if brands.previous_page_number == 1 %}
                <a href="?page={{ brands.previous_page_number }}">Previous</a>
            {% else %}
                <a href="?page=1">First</a>
                <a href="?page={{ brands.previous_page_number }}">Previous</a>
                <span class="dots">...</span>
            {% endif %}
        {% else %}
            <span class="disabled">Previous</span>
        {% endif %}

        {% for i in brands.paginator.page_range %}
            {% if brands.number == i %}
                <span class="current">{{ i }}</span>
            {% elif i > brands.number|add:"-3" and i < brands.number|add:"3" %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if brands.has_next %}
            {% if brands.next_page_number == brands.paginator.num_pages %}
                <a href="?page={{ brands.paginator.num_pages }}">Last</a>
            {% else %}
                <span class="dots">...</span>
                <a href="?page={{ brands.next_page_number }}">Next</a>
                <a href="?page={{ brands.paginator.num_pages }}">Last</a>
            {% endif %}
        {% else %}
            <span class="disabled">Next</span>
            <span class="disabled">Last</span>
        {% endif %}
    </div>
</div>
