{% extends "dashboard/base/ad_base.html" %}

{% block title %}Update Brand{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class="breadcrumb">
        <a href="/dashboard/">Home</a>
        <span> > </span>
        <a href="/dashboard/brand/">Brand Management</a>
        <span> > </span>
        <a href="/dashboard/brand/update/{{ brands.id }}/">Update Brand</a>
    </div>
    <div class="form-main">
        <h2 class="font-weight-bold mt-3 form-title">Update brand</h2>
        <form method="post" class="form-group" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h5 class="card-title">Brand Logo</h5>
            <div class="img-details">
                <img id="avatar" class="img-display"
                     src="{{ MEDIA_URL }}{{ form.brand.logo.url }}"
                     alt="{{ form.brand.name }}"
                     title="Logo of {{ form.brand.name }}">
            </div>
            <div class="form-input">{{ form|crispy }}</div>
            <div class="btn-form">
                <div class="btn-form-left">
                    <a type="button" class="btn btn-dark btn-block" href="/dashboard/brand/">Back</a>
                    <button type="reset" class="btn btn-danger btn-block">Reset</button>
                </div>
                <div class="btn-form-right">
                    <button type="submit" class="btn btn-info btn-block" name="save_and_add">Save & Add Another
                    </button>
                    <button type="submit" class="btn btn-info btn-block" name="save_and_update">Save & Edit
                    </button>
                    <button type="submit" class="btn btn-success btn-block" name="save">Save</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const avatarInput = document.querySelector('#id_logo');
        const avatarImg = document.querySelector('#avatar');
        avatarInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.addEventListener('load', (event) => {
                avatarImg.src = event.target.result;
            });

            reader.readAsDataURL(file);
        });
    </script>
{% endblock %}