SECRET_KEY=your-secret-key
DEBUG=True
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://localhost

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIl_FROM=LCL Shop <your-email@example.com>
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password

RECAPTCHA_PUBLIC_KEY=your-recaptcha-public-key
RECAPTCHA_PRIVATE_KEY=your-recaptcha-private-key

DATABASE_URL=postgresql://your-db-user:your-db-password@your-db-host:5432/your-db-name?sslmode=require&channel_binding=require

CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
