{% extends "dashboard/base/ad_base.html" %}

{% block title %}{{ customer.user.username }} details{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="breadcrumb">
            <a href="/dashboard/customer_table">Customer Management</a>
            <span> > </span>
            <a href="/dashboard/customer_details/{{ user.id }}">Customer Details</a>
        </div>
        <h1 class="h3 mb-2 text-gray-800">Customer Details</h1>
        <div class="card shadow mb-4">
            <div class="card-body">
                <h5 class="card-title">Customer Image:</h5>
                <div class="img-details">
                    <img class="img-display" src="{{ MEDIA_URL }}{{ customer.customer_image.url }}"
                         alt="{{ customer.user.username }}" title="Customer Image of {{ customer.user.username }}">
                </div>
                <h5 class="card-title">Details about Customer
                    - {{ customer.user.last_name }} {{ customer.user.first_name }}</h5>
                <li class="form-display">ID: {{ user.id }}</li>
                <li class="form-display">Username: {{ customer.user.username }}</li>
                <li class="form-display">First Name: {{ customer.user.first_name }}</li>
                <li class="form-display">Last Name: {{ customer.user.last_name }}</li>
                <li class="form-display">Email: {{ customer.user.email }}</li>
                <li class="form-display">Phone: {{ customer.phone }}</li>
                <li class="form-display">Address: {{ customer.address }}</li>
                <h5 class="card-title">Permissions:</h5>
                {% if customer.user.is_active %}
                    <li class="form-display">Active: <span class="badge badge-success">Yes</span></li>
                    <p class="form-display">Designates whether this user should be treated as active. Unselect this
                        instead of deleting
                        accounts.</p>
                {% else %}
                    <li class="form-display">Active: <span class="badge badge-danger">No</span></li>
                    <p class="form-display">Designates whether this user should be treated as active. Unselect this
                        instead of deleting
                        accounts.</p>
                {% endif %}
                {% if customer.user.is_staff %}
                    <li class="form-display">Staff: <span class="badge badge-success">Yes</span></li>
                    <p class="form-display">Designates whether the user can log into this admin site.</p>
                {% else %}
                    <li class="form-display">Staff: <span class="badge badge-danger">No</span></li>
                    <p class="form-display">Designates whether the user can log into this admin site.</p>
                {% endif %}
                {% if customer.user.is_superuser %}
                    <li class="form-display">Superuser: <span class="badge badge-success">Yes</span></li>
                    <p class="form-display">Designates that this user has all permissions without explicitly assigning
                        them.</p>
                {% else %}
                    <li class="form-display">Superuser: <span class="badge badge-danger">No</span></li>
                    <p class="form-display">Designates that this user has all permissions without explicitly assigning
                        them.</p>
                {% endif %}
                <h5 class="card-title">Important dates:</h5>
                <li class="form-display">Created: {{ customer.user.date_joined }}</li>
                <li class="form-display">Last Login: {{ customer.user.last_login }}</li>
                <div class="btn-form">
                    <div class="btn-form-left">
                        <a type="button" class="btn btn-dark" href="/dashboard/customer_table/">Back</a>
                        <a type="button" class="btn btn-danger"
                           href="/dashboard/delete_customer/{{ user.id }}?t={{ timestamp }}"
                           onclick="return confirm('Are you sure?')">Delete</a>
                        <a type="button" class="btn btn-success"
                           href="/dashboard/update_customer/{{ user.id }}?t={{ timestamp }}">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    </script>
{% endblock %}