{% extends "main/base/base.html" %}
{% block title %}Password Reset Complete{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="breadcrumb">
        <a href="/">Home</a>
        <span> > </span>
        <a href="/auth/password_reset/">Password Reset</a>
    </div>
    <!--Password Reset Complete-->
    <div class="container-main">
        <div class="form-main">
            <h2 class="font-weight-bold mt-3 form-title">Password reset complete</h2>
            <div class="text-form"><p>Your password has been set. You may go ahead and <a href="/auth/login/">Log in</a>
                now.</p></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    </script>
{% endblock %}