{% extends "main/base/base.html" %}
{% block title %}Password Reset Done{% endblock %}

{% block style %}
    <style>
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="breadcrumb">
        <a href="/">Home</a>
        <span> > </span>
        <a href="/auth/password_reset/">Password Reset</a>
    </div>
    <!--Password reset sent-->
    <div class="container-main">
        <div class="form-main">
            <h2 class="font-weight-bold mt-3 form-title">Password reset sent</h2>
            <div class="text-form"><p>We've emailed to <strong>{{ user.email }}</strong> to reset your password. If an
                account exists with the
                email you entered.
                You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the
                address you registered with, and check your spam folder.</p>
            </div>
            <div class="btn-form"><a href="/auth/password_reset/" class="btn btn-primary form-button">Back to forgot
                password</a></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    </script>
{% endblock %}