{% extends "dashboard/base/ad_base.html" %}

{% block title %}Sales Statistics{% endblock %}

{% block style %}
    <style>
        .chart {
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px #ccc;
            margin: 15px auto;
            background: #ffffff;
            max-height: 750px;
            width: 100%;
            padding: 0 20px 20px 20px;
        }

        .title-chart {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .title-table {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

        .link-details {
            color: #000000;
            text-decoration: none;
        }

        .link-details:hover {
            color: #000000;
            font-weight: bold;
            text-decoration: none;
        }

        .value-table {
            font-weight: bold;
        }

        @media only screen and (min-width: 1048px) {
            .filter-form li {
                display: inline-block;
                margin-right: 10px;
            }

            .filter-form .form-row .col-auto .btn {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        @media only screen and (max-width: 1047px) and (min-width: 768px) {
            .filter-form li {
                display: inline-block;
                margin-right: 5px;
            }

            .filter-form .form-row .col-auto .btn {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        @media only screen and (max-width: 767px) and (min-width: 480px) {
            .filter-form li {
                display: inline-block;
                margin-right: 0px;
                width: 100%;
            }

            .filter-form .form-row .col-auto .btn {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        @media only screen and (max-width: 479px) {
            .filter-form li {
                display: inline-block;
                margin-right: 0px;
                width: 100%;
            }

            .filter-form .form-row .col-auto .btn {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <h1 class="h2 mb-2 text-black-800 title-manage">Sales Statistics</h1>
    <div class="breadcrumb">
        <a href="/dashboard/">Home</a>
        <span> > </span>
        <a href="/dashboard/sales_statistics/">Sales Statistics</a>
    </div>
    <h3 class="h3 mb-2 text-gray-800 title-chart">Sales and Profit per monthly</h3>
    <canvas id="chart_forecast" class="chart"></canvas>

    <div class="filter-form">
        <form action="/dashboard/sales_statistics/filter/" method="POST">
            {% csrf_token %}
            <div class="form-row align-items-center">
                <ul>
                    <li>
                        <div class="col-auto">
                            <input type="datetime-local" class="form-control" id="start_date" name="start_datetime"
                                   {% if start_datetime %}value="{{ start_datetime }}"{% endif %}>
                        </div>
                    </li>
                    <li>
                        <div class="col-auto">
                            <input type="datetime-local" class="form-control" id="end_datetime" name="end_datetime"
                                   {% if end_datetime %}value="{{ end_datetime }}"{% endif %}>
                        </div>
                    </li>
                    <li>
                        <div class="col-auto">
                            <select class="form-control" name="month">
                                <option value="">Select Month</option>
                                {% for month in list_month %}
                                    <option value="{{ month }}"
                                            {% if month == month_selected %}selected{% endif %}>{{ month }}</option>
                                {% endfor %}
                                <option value="all">All</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="col-auto">
                            <select class="form-control" name="year">
                                <option value="">Select Year</option>
                                {% for year in list_year %}
                                    <option value="{{ year }}"
                                            {% if year == year_selected %}selected{% endif %}>{{ year }}</option>
                                {% endfor %}
                                <option value="all">All</option>
                            </select>
                        </div>
                    <li>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Apply</button>
                        </div>
                    </li>
                    <li>
                        <div class="col-auto">
                            <a href="/dashboard/sales_statistics/" type="button" class="btn btn-danger">Clear</a>
                        </div>
                    </li>
                </ul>
            </div>
            <input type="hidden" name="search" value="{{ request.GET.search }}">
            <input type="hidden" name="t" value="{{ timestamp }}">
        </form>
    </div>
    <div class="cardBox">
        <a class="mycard" href="/dashboard/product/">
            <div>
                <div class="numbers">{{ total_products }}</div>
                <div class="cardName">Total Products</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-desktop" aria-hidden="true"></i>
            </div>
        </a>
        <a class="mycard" href="/dashboard/product/">
            <div>
                <div class="numbers">{{ view_count }}</div>
                <div class="cardName">Total Views</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
        </a>
        <a class="mycard" href="/dashboard/customer/">
            <div>
                <div class="numbers">{{ total_customers }}</div>
                <div class="cardName">Total Customers</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
        </a>

        <a class="mycard" href="/dashboard/product/">
            <div>
                <div class="numbers">{{ product_sold_count }}</div>
                <div class="cardName">Total Sold</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </div>
        </a>
        <a class="mycard" href="/dashboard/order/">
            <div>
                <div class="numbers">${{ sales }}</div>
                <div class="cardName">Total Sales</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </a>
        <a class="mycard" href="/dashboard/order/">
            <div>
                <div class="numbers">${{ profit }}</div>
                <div class="cardName">Total Profit</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
        </a>
        <a class="mycard" href="/dashboard/order/">
            <div>
                <div class="numbers">{{ total_profit_ratio }}%
                </div>
                <div class="cardName">Total Revenue Ratio</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-percent" aria-hidden="true"></i>
            </div>
        </a>
        <a class="mycard" href="/dashboard/order/">
            <div>
                <div class="numbers">-${{ total_discounts }}
                </div>
                <div class="cardName">Total Discounts</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-qrcode" aria-hidden="true"></i>
            </div>
        </a>
        <a class="mycard" href="/dashboard/order/">
            <div>
                <div class="numbers">{{ total_orders }}</div>
                <div class="cardName">Total Orders</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
        </a>
        <a class="mycard" href="/dashboard/feedback/">
            <div>
                <div class="numbers">{{ total_feedback }}</div>
                <div class="cardName">Total Feedback</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-comment" aria-hidden="true"></i>
            </div>
        </a>
        <a class="mycard" href="/dashboard/review/">
            <div>
                <div class="numbers">{{ total_review }} - {{ total_review_rate }}</div>
                <div class="cardName">Total Review - Ratings</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
        </a>
        <a class="mycard" href="/dashboard/payment/">
            <div>
                <div class="numbers">{{ total_payment }}</div>
                <div class="cardName">Total Payment</div>
            </div>
            <div class="iconBox">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
            </div>
        </a>
    </div>

    <div class="row">
        {% if top_10_best_selling_products %}
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h3 class="h3 mb-2 text-gray-800 title-table">Top 10 Best Selling Products</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>No.</td>
                                <th>Product Name</th>
                                <th>Sold</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in top_10_best_selling_products %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="/dashboard/product/details/{{ product.id }}/"
                                           class="link-details">{{ product.name }}</a></td>
                                    <td class="value-table">{{ product.sold }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if top_10_profitable_products %}
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h3 class="h3 mb-2 text-gray-800 title-table">Top 10 Profitable Products</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>No.</td>
                                <th>Product Name</th>
                                <th>Profit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in top_10_profitable_products %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="/dashboard/product/details/{{ product.id }}/"
                                           class="link-details">{{ product.name }}</a></td>
                                    <td class="value-table" style="color: #ff2020">${{ product.profit }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if top_10_most_viewed_products %}
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h3 class="h3 mb-2 text-gray-800 title-table">Top 10 Most Viewed Products</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Product Name</th>
                                <th>Views</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in top_10_most_viewed_products %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="/dashboard/product/details/{{ product.id }}/"
                                           class="link-details">{{ product.name }}</a></td>
                                    <td class="value-table">{{ product.view_count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if top_10_rated_products %}
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h3 class="h3 mb-2 text-gray-800 title-table">Top 10 Rated Products</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Product Name</th>
                                <th>Ratings</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in top_10_rated_products %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="/dashboard/product/details/{{ product.id }}/"
                                           class="link-details">{{ product.name }}</a></td>
                                    <td class="value-table">{{ product.review_rate_average }}
                                        - {{ product.review_count }} reviews
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('chart_forecast').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ labels|safe }},
                    datasets: [
                        {
                            label: 'Sales per month',
                            data: {{ sales_values|safe }},
                            backgroundColor: '#1253cc',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Profit per month',
                            data: {{ profit_values|safe }},
                            backgroundColor: 'rgb(1,152,64)',
                            borderColor: 'rgba(0,255,106,0.76)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Sales and Profit per month'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function (value, index, values) {
                                    return '$' + value;
                                }
                            }
                        }]
                    }
                }
            });
        });
    </script>



{% endblock %}

{% block scripts %}
    <script>
        const monthSelect = document.querySelector('select[name="month"]');
        const yearSelect = document.querySelector('select[name="year"]');
        // Check if month is selected then year is required
        monthSelect.addEventListener('change', function () {
            if (this.value) {
                yearSelect.setAttribute('required', 'required');
            } else {
                yearSelect.removeAttribute('required');
            }
        });
        // Check if year is selected then month is required
        yearSelect.addEventListener('change', function () {
            if (this.value) {
                monthSelect.setAttribute('required', 'required');
            } else {
                monthSelect.removeAttribute('required');
            }
        });
    </script>
{% endblock %}