{% extends "dashboard/base/ad_base.html" %}

{% block title %}Sale Report{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class="breadcrumb">
        <a href="/dashboard/">Home</a>
        <span> > </span>
        <a href="/dashboard/sales_statistics/">Sales Statistics</a>
    </div>
    <h1 class="h3 mb-2 text-gray-800">Sales Statistics</h1>
    <div class="card shadow mb-4">
        <div class="card-body">

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}