{% extends "main/base/base.html" %}
{% block title %}Checkout{% endblock %}
{% block style %}
    <style>
        .checkout-container {
            width: 100%;
            padding: 50px 0;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .checkout-container .container {
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
        }

        .checkout-container .container form {
            padding: 20px;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        .checkout-container .container form .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .checkout-container .container form .row .col {
            flex: 1 1 250px;
        }

        .checkout-container .container form .row .col .title {
            font-size: 25px;
            color: #333;
            margin-bottom: 25px;
            font-weight: 500;
            text-transform: uppercase;
            padding-top: 15px;
        }

        .checkout-container .container form .row .col .inputBox {
            margin: 15px 0;
            position: relative;
        }

        .checkout-container .container form .row .col .inputBox .label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
            text-align: justify;
        }

        .checkout-container .container form .row .col .inputBox .btn-add {
            background-color: #1253cc;
            color: #fff;
            height: 45px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        select {
            width: 100%;
            padding: 10px 15px;
            border: 1px solid #ccc;
            font-size: 16px;
            text-transform: none;
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="number"]:focus,
        select:focus {
            outline: none;
            border-bottom: 2px solid #0366d6;
        }

        .checkout-container .container form .row .col .flex {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }

        .checkout-container .container form .row .col .flex .inputBox {
            margin-top: 5px;
        }

        .checkout-container .container form .row .col .inputBox img {
            max-width: 100%;
            height: 45px;
            filter: drop-shadow(0 0 1px #000);
        }

        .submit-btn {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: none;
            border-radius: 5px;
            background-color: #1253cc;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-weight: bold;
        }

        .submit-btn:hover {
            background-color: #0066cc;
            border-color: #0066cc;
        }

        .submit-btn:focus {
            outline: none;
        }
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="checkout-container">
        <h2 class="font-weight-bold form-title">Checkout</h2>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <h3 class="title">Delivery Address</h3>
                        {% if delivery_address %}
                            <div class="inputBox">
                                <span class="label">Select Delivery Address*</span>
                                <select name="delivery_address" id="delivery_address" required>
                                    <option value="0" disabled selected>Select Delivery Address - If any</option>
                                    {% for address in delivery_address %}
                                        <option value="{{ address.id }}">{{ address }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inputBox" id="edit-delivery-address-container" style="display: none;">
                                <span class="label">Edit you delivery address*</span>
                                <a type="button" class="btn btn-primary btn-add" href="#" id="edit-delivery-address">Edit Delivery Address</a>
                                <div class="inputBox">
                                    <span class="label">Firstname*</span>
                                    <input type="text" name="firstname" required placeholder="Brain" readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">Lastname*</span>
                                    <input type="text" name="lastname" required placeholder="Lee" readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">Mobile*</span>
                                    <input type="number" name="phone" required placeholder="0123456789" readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">Email*</span>
                                    <input type="email" name="email" required placeholder="example@example.com"
                                           readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">Address*</span>
                                    <input type="text" name="address" required placeholder="room - street - locality"
                                           readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">City*</span>
                                    <input type="text" name="city" required placeholder="London" readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">Country*</span>
                                    <input type="text" name="country" required placeholder="United Kingdom" readonly>
                                </div>
                                <div class="flex">
                                    <div class="inputBox">
                                        <span class="label">State*</span>
                                        <input type="text" name="state" required placeholder="United Kingdom" readonly>
                                    </div>
                                    <div class="inputBox">
                                        <span class="label">Zip Code*</span>
                                        <input type="text" name="zipcode" required placeholder="123 456" readonly>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="inputBox">
                                <span class="label">Your delivery address is empty. Please add a delivery address to checkout.</span>
                                <a type="button" class="btn btn-primary btn-add" href="/auth/delivery_address/add/?next=/customer/checkout/`"
                                   id="add-delivery-address">Add A Delivery Address</a>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col">
                        <h3 class="title">Payment</h3>
                        <div class="inputBox">
                            <span class="label">Payment Method*</span>
                            <select name="payment_method" id="payment_method" required>
                                <option value="0" disabled selected>Select Payment Method</option>
                                {% for choice in payment_methods %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="inputBox">
                            <span class="label">Card Accepted:</span>
                            {% load static %}<img src="{% static 'main/images/payments/payment-method.png' %}"
                                                  alt="payment method">
                        </div>

                        <div class="inputBox">
                            <span class="label">Card Type*</span>
                            <select name="card" required>
                                <option value="visa">Visa</option>
                                <option value="mastercard">Mastercard</option>
                                <option value="payonner">Payonner</option>
                                <option value="masetro">Masetro</option>
                            </select>
                        </div>
                        <div class="inputBox">
                            <span class="label">Name on Card*</span>
                            <input type="text" name="nameofcard" required placeholder="Brain Lee">
                        </div>

                        <div class="inputBox">
                            <span class="label">Card Number*</span>
                            <input type="text" id="card-number" name="cardnumber" class="card-number" required
                                   placeholder="1234 5678 9012 3456">
                        </div>

                        <div class="flex">
                            <div class="inputBox">
                                <span class="label">Expiry Date*</span>
                                <input type="text" name="expiryDate" required placeholder="MM/YY">
                            </div>
                            <div class="inputBox">
                                <span class="label">CVV*</span>
                                <input type="number" name="CVV" required placeholder="123">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary submit-btn">Place Your Order</button>
            </form>
        </div>
    </div>
    {% include 'main/base/services.html' %}
{% endblock %}
{% block scripts %}
    <script>
        const addressSelect = document.getElementById('delivery_address');
        const firstnameInput = document.querySelector('input[name="firstname"]');
        const lastnameInput = document.querySelector('input[name="lastname"]');
        const phoneInput = document.querySelector('input[name="phone"]');
        const emailInput = document.querySelector('input[name="email"]');
        const addressInput = document.querySelector('input[name="address"]');
        const cityInput = document.querySelector('input[name="city"]');
        const countryInput = document.querySelector('input[name="country"]');
        const stateInput = document.querySelector('input[name="state"]');
        const zipcodeInput = document.querySelector('input[name="zipcode"]');

        const editDeliveryAddress = document.getElementById('edit-delivery-address-container');
        addressSelect.addEventListener('change', (event) => {
            const selectedOption = addressSelect.options[addressSelect.selectedIndex];
            if (selectedOption.value !== '0') {
                // Show the edit delivery address container
                editDeliveryAddress.style.display = 'block';
                // Get the data from the database based on the selected address ID
                fetch(`/customer/get_address/${selectedOption.value}`)
                    .then(response => response.json())
                    .then(address => {
                        // Update the input fields with the retrieved address data
                        firstnameInput.value = address.first_name;
                        lastnameInput.value = address.last_name;
                        phoneInput.value = address.mobile;
                        emailInput.value = address.email;
                        addressInput.value = address.address;
                        cityInput.value = address.city;
                        countryInput.value = address.country;
                        stateInput.value = address.state;
                        zipcodeInput.value = address.zip_code;
                    })
                    .catch(error => {
                        console.error('Error fetching address data:', error);
                    });
            } else {
                // Clear the input fields if no address is selected
                editDeliveryAddress.style.display = 'none';
                firstnameInput.value = '';
                lastnameInput.value = '';
                phoneInput.value = '';
                emailInput.value = '';
                addressInput.value = '';
                cityInput.value = '';
                countryInput.value = '';
                stateInput.value = '';
                zipcodeInput.value = '';
            }
        });

        // Edit address button
        const editDeliveryAddressBtn = document.getElementById('edit-delivery-address');
        editDeliveryAddressBtn.addEventListener('click', (event) => {
            event.preventDefault();
            const selectedOption = addressSelect.options[addressSelect.selectedIndex];
            if (selectedOption.value !== '0') {
                window.location.href = `/auth/delivery_address/update/${selectedOption.value}/?next=/customer/checkout/;
            }
        });

        // Card number formatting
        // Select the card-number input field
        const cardNumberInput = document.getElementById('card-number')

        // Function to format card number with spaces
        function formatCardNumber(e) {
            // Remove all non-digit characters from the input value
            const cardNumber = e.target.value.replace(/\D/g, '');

            // Add a space after every 4 digits
            const formattedCardNumber = cardNumber.replace(/(\d{4})/g, '$1 ');

            // Set the formatted card number as the input value
            e.target.value = formattedCardNumber.trim();
        }

        // Add an event listener to the input field to format the card number on input
        cardNumberInput.addEventListener('input', formatCardNumber);

        // Popup window code for add delivery address button
        let addDeliveryAddressButton = document.getElementById("add-delivery-address");
        addDeliveryAddressButton.onclick = function () {
            window.open(this.href, "popupWindow", "width=600,height=1000,scrollbars=yes, center=yes");
            return false;
        };

    </script>
{% endblock %}