{% extends "main/base/base.html" %}
{% block title %}Checkout{% endblock %}
{% block style %}
    <style>
        .checkout-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 5px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .checkout-container .container {
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
        }

        .checkout-container .container form {
            padding: 20px;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        .checkout-container .container form .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 5px;
        }

        .checkout-container .container form .row .col {
            flex: 1 1 250px;
        }

        .checkout-container .container form .row .col .title {
            font-size: 25px;
            color: #333;
            margin-bottom: 25px;
            font-weight: 500;
            text-transform: uppercase;
            padding-top: 15px;
        }

        .checkout-container .container form .row .col .inputBox {
            margin: 15px 0;
            position: relative;
        }

        .checkout-container .container form .row .col .inputBox .label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
            text-align: justify;
        }

        .checkout-container .container form .row .col .inputBox .btn-add {
            background-color: #1253cc;
            color: #fff;
            height: 47px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            width: 100%;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        select {
            width: 100%;
            padding: 10px 15px;
            border: 1px solid #ccc;
            font-size: 16px;
            text-transform: none;
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="number"]:focus,
        select:focus {
            outline: none;
            border-bottom: 2px solid #0366d6;
        }

        .checkout-container .container form .row .col .flex {
            display: flex;
            justify-content: space-between;
            gap: 10px;

        }

        .checkout-container .container form .row .col .flex .inputBox {
            margin-top: 0;
        }

        .checkout-container .container form .row .col .inputBox img {
            max-width: 100%;
            height: 47px;
            filter: drop-shadow(0 0 1px #000);
        }

        .submit-btn {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            border: none;
            border-radius: 5px;
            background-color: #1253cc;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-weight: bold;
        }

        .submit-btn:hover {
            background-color: #0066cc;
            border-color: #0066cc;
        }

        .submit-btn:focus {
            outline: none;
        }

        .cart-container {
            width: 100%;
            padding: 5px 20px 20px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cart-container .container {
            padding: 20px;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        .cart-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .table-main thead {
            background: #f5f5f5;
        }

        .table-main thead th {
            border: none;
            padding: 10px;
        }

        .table-main tbody td {
            padding: 10px;
        }

        .table-main tbody td img {
            width: 100px;
            height: 100px;
        }

        .table-main tbody td .quantity-input {
            width: 50px;
            text-align: center;
        }

        .table-main tbody td .delete-btn {
            width: 100%;
        }

        .table-main tfoot {
            background: #f5f5f5;
        }

        .table-main tfoot th {
            border: none;
            padding: 10px;
        }

        .table-main tfoot td {
            padding: 10px;
        }

        .table-main tfoot td .btn {
            width: 100%;
        }

        /* Make the table rows alternate colors for better readability */
        .table-main tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }


        /* Style the plus/minus buttons and quantity input */
        .quantity-input {
            width: 50px !important;
            text-align: center !important;
            border: 1px solid #ccc !important;
            border-radius: 4px !important;
            margin: 0 5px !important;
            font-size: 16px !important;
            height: 37px !important;
            padding: 0 !important;
        }

        .minus-btn,
        .plus-btn {
            width: 37px;
            height: 37px;
            background-color: #1253cc;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            justify-content: center;
            align-items: center;
        }

        .minus-btn:hover,
        .plus-btn:hover {
            background-color: #0062cc;
        }

        .minus-btn:focus,
        .plus-btn:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
            border: none;
        }

        .quantity {
            white-space: nowrap;
        }

        .quantity form {
            display: inline-block;
        }

        .quantity .update-btn {
            background-color: #1253cc;
            border-color: #1253cc;
            height: 37px;
            margin-left: 5px;
        }

        .delete-btn {
            background-color: transparent;
            border: none;
        }

        .delete-btn:hover {
            background-color: transparent;
            border: none;
        }

        .delete-btn:focus {
            background-color: transparent;
            border: none;
            box-shadow: none;
        }

        .delete-btn img {
            width: 30px;
            height: 30px;
        }

        .quantity .update-btn:hover {
            background-color: #0062cc;
            border-color: #0062cc;
        }


        /* Style the checkout button */
        .action .btn-primary {
            background-color: #1253cc;
            border-color: #1253cc;
            font-size: 20px;
            font-weight: 600;
        }

        .action .btn-success {
            font-size: 20px;
            font-weight: 600;
        }

        .action .btn-primary:hover {
            background-color: #0062cc;
            border-color: #0062cc;
        }

        .btn-primary:focus,
        .btn-success:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }

        .row {
            padding-top: 20px;
            padding-bottom: 20px;
        }


        .table-title {
            background-color: #1253cc;
        }

        .table-coupon .btn-primary {
            background-color: #1253cc;
            border-color: #1253cc;
        }

        .table-coupon .btn-primary:hover {
            background-color: #0062cc;
            border-color: #0062cc;
        }

        .table-title tr th {
            color: #fff;
            padding: 10px;
            justify-content: center;
            text-align: center;
        }

        .table-coupon .form-control {
            display: inline-block;
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }

        .table-coupon .btn-primary {
            display: block;
            width: 100%;
        }

        .table-total tbody tr:hover {
            background-color: #F5F9FA;
        }

        @media (min-width: 768px) {
            .table-coupon .form-control {
                display: inline-block;
                width: 65%;
                margin-right: 10px;
                margin-bottom: 0;
            }

            .table-coupon .btn-primary {
                display: inline-block;
                width: 30%;
            }
        }

        .table-cart {
            margin-top: 10px;
        }

        .table-cart tbody tr:hover {
            background-color: #F5F9FA;
        }

        .table-cart .img-cart {
            width: 80px;
            height: 80px;
        }

        .img-thumbnail {
            max-width: none;
        }

        .table-cart .price {
            color: #ff0000;
            font-weight: 600;
        }

        .table-total .price {
            color: #ff0000;
            font-weight: 600;
        }

        .table-cart table thead {
            background-color: #1253cc;
            color: #fff;
        }
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class="breadcrumb">
        <a href="/">Home</a>
        <span> > </span>
        <a href="/customer/cart/">My Shopping Cart</a>
        <span> > </span>
        <a href="/customer/checkout/">Checkout</a>
    </div>
    <div class="checkout-container">
        <h2 class="font-weight-bold form-title">Checkout</h2>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <h3 class="title">Delivery Address</h3>
                        {% if delivery_address %}
                            <div class="inputBox">
                                <span class="label">Select Delivery Address*</span>
                                <select name="delivery_address" id="delivery_address" required>
                                    <option value="" disabled selected>Select Delivery Address - If any</option>
                                    {% for address in delivery_address %}
                                        {% if address.is_default %}
                                            <option value="{{ address.id }}" selected>{{ address.address }} (Default)
                                            </option>
                                        {% else %}
                                            <option value="{{ address.id }}">{{ address.address }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inputBox" id="edit-delivery-address-container" style="display: none;">
                                <div class="inputBox">
                                    <span class="label">Add new delivery address</span>
                                    <a type="button" class="btn btn-primary btn-add"
                                       href="/auth/delivery_address/add/?next=/customer/checkout/"
                                       id="add-delivery-address">Add A Delivery Address</a>
                                </div>
                                <span class="label">Edit your delivery address</span>
                                <button type="button" class="btn btn-primary btn-add" href="#"
                                        id="edit-delivery-address">Edit
                                    Delivery Address
                                </button>
                                <div class="inputBox">
                                    <span class="label">Firstname*</span>
                                    <input type="text" name="firstname" required placeholder="Brain" readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">Lastname*</span>
                                    <input type="text" name="lastname" required placeholder="Lee" readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">Mobile*</span>
                                    <input type="number" name="phone" required placeholder="0123456789" readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">Email*</span>
                                    <input type="email" name="email" required placeholder="example@example.com"
                                           readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">Address*</span>
                                    <input type="text" name="address" required placeholder="room - street - locality"
                                           readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">City*</span>
                                    <input type="text" name="city" required placeholder="London" readonly>
                                </div>
                                <div class="inputBox">
                                    <span class="label">Country*</span>
                                    <input type="text" name="country" required placeholder="United Kingdom" readonly>
                                </div>
                                <div class="flex">
                                    <div class="inputBox">
                                        <span class="label">State*</span>
                                        <input type="text" name="state" required placeholder="United Kingdom" readonly>
                                    </div>
                                    <div class="inputBox">
                                        <span class="label">Zip Code*</span>
                                        <input type="text" name="zipcode" required placeholder="123 456" readonly>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="inputBox">
                                <span class="label">Your delivery address is empty. Please add a delivery address to checkout.</span>
                                <a type="button" class="btn btn-primary btn-add"
                                   href="/auth/delivery_address/add/?next=/customer/checkout/"
                                   id="add-delivery-address">Add A Delivery Address</a>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col">
                        <h3 class="title">Payment</h3>
                        <div class="inputBox">
                            <span class="label">Payment Method*</span>
                            <select name="payment_method" id="payment_method" required>
                                <option value="" disabled selected>Select Payment Method</option>
                                {% for choice in payment_methods %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="inputBox">
                            <span class="label">Card Accepted:</span>
                            {% load static %}<img src="{% static 'main/images/payments/payment-method.png' %}"
                                                  alt="payment method">
                        </div>
                        <div class="payment-container" style="display: none;">
                            <div class="inputBox">
                                <span class="label">Card Type*</span>
                                <select name="card">
                                    <option value="" disabled selected>Select Card Type</option>
                                    <option value="visa">Visa</option>
                                    <option value="mastercard">Mastercard</option>
                                    <option value="payonner">Payonner</option>
                                    <option value="masetro">Masetro</option>
                                </select>
                            </div>
                            <div class="inputBox">
                                <span class="label">Name on Card*</span>
                                <input type="text" name="nameofcard" placeholder="Brain Lee">
                            </div>

                            <div class="inputBox">
                                <span class="label">Card Number*</span>
                                <input type="text" id="card-number" name="cardnumber" class="card-number"
                                       placeholder="1234 5678 9012 3456">
                            </div>
                            <div class="flex">
                                <div class="inputBox">
                                    <span class="label">Expiry Date*</span>
                                    <input type="text" name="expiryDate" placeholder="MM/YY">
                                </div>
                                <div class="inputBox">
                                    <span class="label">CVV*</span>
                                    <input type="number" name="CVV" placeholder="123">
                                </div>
                            </div>
                            <div class="inputBox">
                                <input type="checkbox" name="remembercard" value="remembercard"> <span
                                    style="font-weight: bold;">Remember Card</span>
                            </div>
                            <div class="inputBox">
                                <span class="label" style="color: #ff2020;">This is a FAKE PAYMENT. Just for demo purpose.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary submit-btn" id="place-order-btn" disabled>Place Your
                    Order
                </button>
            </form>
        </div>
    </div>
    <div class="cart-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h2 class="font-weight-bold form-title">Review Cart</h2>
                    {% if cart_items %}
                        <div class="table-responsive table-cart">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Unit Total</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cart_item in cart_items %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><img class="img-thumbnail img-cart"
                                                 src="{{ MEDIA_URL }}{{ cart_item.product.product_image.url }}"
                                                 alt="{{ cart_item.product.name }}"></td>
                                        <td>
                                            <a href="}}//{{ cart_item.product.slug }}/">{{ cart_item.product.name }}</a>
                                        </td>
                                        <td class="quantity">
                                            <form action="/customer/update_quantity/{{ cart_item.product.slug }}/?next=/customer/checkout/"
                                                  method="post" onsubmit="return checkQuantity(this);">
                                                {% csrf_token %}
                                                <a href="/customer/remove_quantity/{{ cart_item.product.slug }}/?next=/customer/checkout/"
                                                   class="btn btn-sm btn-secondary minus-btn"
                                                   onclick="confirmRemove(event, {{ cart_item.quantity }})">-</a>
                                                <input type="hidden" name="product_id"
                                                       value="{{ cart_item.product.id }}">
                                                <input type="number" class="quantity-input" name="quantity"
                                                       value="{{ cart_item.quantity }}" min="0" pattern="[0-9]*"
                                                       onkeydown="if (event.keyCode === 109 || event.keyCode === 189 || event.keyCode === 187 || event.keyCode === 107) return false;">
                                                <a href="/customer/add_quantity/{{ cart_item.product.slug }}/?next=/customer/checkout/"
                                                   class="btn btn-sm btn-secondary plus-btn">+</a>
                                                <button type="submit" class="btn btn-sm btn-primary update-btn">Update
                                                </button>
                                            </form>
                                        </td>
                                        <td class="price">${{ cart_item.price }}</td>
                                        <td class="price">${{ cart_item.sub_total }}</td>
                                        <td>
                                            <form action="/customer/remove_from_cart/{{ cart_item.product.slug }}/?next=/customer/checkout/"
                                                  method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-sm delete-btn"
                                                        onclick="return confirm('Are you sure to delete this product?')">
                                                    <img src="{% static 'dashboard/images/icons/delete.png' %}"
                                                         alt="Delete" title="Delete"></button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-bordered table-coupon">
                                    <thead class="table-title">
                                    <tr>
                                        <th colspan="2">Apply Coupon</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <form action="/customer/apply_coupon/?next=/customer/checkout/"
                                                  method="post">
                                                {% csrf_token %}
                                                <label for="coupon_code">Enter your coupon code if you have one.</label>
                                                <input type="text" name="coupon_code" class="form-control"
                                                       placeholder="Coupon Code">
                                                <button type="submit" class="btn btn-primary">Apply</button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-6">
                                <table class="table table-bordered table-total">
                                    <thead class="table-title">
                                    <tr>
                                        <th colspan="2">Cart Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><strong>Subtotal</strong></td>
                                        <td class="price">${{ total_amount_without_coupon }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Shipping</strong></td>
                                        <td class="price">Free</td>
                                    </tr>

                                    <tr>
                                        {% if discount > 0 %}
                                            <td><strong>Discount ({{ code }}) <a
                                                    href="/customer/remove_coupon/?next=/customer/checkout/">Remove</a></strong>
                                            </td>
                                            <td class="price">-${{ discount }}</td>
                                        {% else %}
                                            <td><strong>Discount (None)</strong></td>
                                            <td class="price">$0.0</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><strong>Total(USD)</strong></td>
                                        <td class="price">${{ total_amount_with_coupon }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% else %}
                        {% include 'customer_cart/404.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'main/base/recommended_products.html' %}
    {% include 'main/base/services.html' %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        const addressSelect = document.getElementById('delivery_address');
        const firstnameInput = document.querySelector('input[name="firstname"]');
        const lastnameInput = document.querySelector('input[name="lastname"]');
        const phoneInput = document.querySelector('input[name="phone"]');
        const emailInput = document.querySelector('input[name="email"]');
        const addressInput = document.querySelector('input[name="address"]');
        const cityInput = document.querySelector('input[name="city"]');
        const countryInput = document.querySelector('input[name="country"]');
        const stateInput = document.querySelector('input[name="state"]');
        const zipcodeInput = document.querySelector('input[name="zipcode"]');
        const editDeliveryAddress = document.getElementById('edit-delivery-address-container');
        const buttonPlaceOrder = document.getElementById('place-order-btn');

        // Get the default address from the database
        fetch('/customer/get_default_address/')
            .then(response => response.json())
            .then(defaultAddress => {
                // Check if the default address exists
                if (defaultAddress) {
                    // Show the edit delivery address container
                    editDeliveryAddress.style.display = 'block';
                    // Select the default address in the dropdown
                    const defaultOption = document.querySelector(`option[value='${defaultAddress.id}']`);
                    defaultOption.selected = true;
                    // Display the default address info
                    firstnameInput.value = defaultAddress.first_name;
                    lastnameInput.value = defaultAddress.last_name;
                    phoneInput.value = defaultAddress.mobile;
                    emailInput.value = defaultAddress.email;
                    addressInput.value = defaultAddress.address;
                    cityInput.value = defaultAddress.city;
                    countryInput.value = defaultAddress.country;
                    stateInput.value = defaultAddress.state;
                    zipcodeInput.value = defaultAddress.zip_code;
                    buttonPlaceOrder.disabled = false;
                } else {
                    // Hide the edit delivery address container
                    editDeliveryAddress.style.display = 'none';
                    buttonPlaceOrder.disabled = true;
                }
            });
        addressSelect.addEventListener('change', (event) => {
            const selectedOption = addressSelect.options[addressSelect.selectedIndex];
            if (selectedOption.value !== '0') {
                // Show the edit delivery address container
                editDeliveryAddress.style.display = 'block';
                // Get the data from the database based on the selected address ID
                fetch(`/customer/get_address/${selectedOption.value}`)
                    .then(response => response.json())
                    .then(address => {
                        // Update the input fields with the retrieved address data
                        firstnameInput.value = address.first_name;
                        lastnameInput.value = address.last_name;
                        phoneInput.value = address.mobile;
                        emailInput.value = address.email;
                        addressInput.value = address.address;
                        cityInput.value = address.city;
                        countryInput.value = address.country;
                        stateInput.value = address.state;
                        zipcodeInput.value = address.zip_code;
                    })
                    .catch(error => {
                        console.error('Error fetching address data:', error);
                    });
            } else {
                // Clear the input fields if no address is selected
                editDeliveryAddress.style.display = 'none';
                firstnameInput.value = '';
                lastnameInput.value = '';
                phoneInput.value = '';
                emailInput.value = '';
                addressInput.value = '';
                cityInput.value = '';
                countryInput.value = '';
                stateInput.value = '';
                zipcodeInput.value = '';
            }
        });

        // Edit address button
        const editDeliveryAddressBtn = document.getElementById('edit-delivery-address');
        editDeliveryAddressBtn.addEventListener('click', (event) => {
            event.preventDefault();
            const selectedOption = addressSelect.options[addressSelect.selectedIndex];
            if (selectedOption.value !== '0') {
                window.location.href = `/auth/delivery_address/update/${selectedOption.value}/?next=/customer/checkout/`;
            }
        });

        // Card number formatting
        // Select the card-number input field
        const cardNumberInput = document.getElementById('card-number')

        // Function to format card number with spaces
        function formatCardNumber(e) {
            // Remove all non-digit characters from the input value
            const cardNumber = e.target.value.replace(/\D/g, '');

            // Add a space after every 4 digits
            const formattedCardNumber = cardNumber.replace(/(\d{4})/g, '$1 ');

            // Set the formatted card number as the input value
            e.target.value = formattedCardNumber.trim();
        }

        // Add an event listener to the input field to format the card number on input
        cardNumberInput.addEventListener('input', formatCardNumber);

        function confirmRemove(event, quantity) {
            if (quantity <= 1) {
                event.preventDefault();
                if (confirm('Are you sure you want to remove this product from the cart?')) {
                    window.location.href = event.target.href;
                }
            } else {
                quantity--;
                event.target.parentNode.querySelector('.quantity-input').value = quantity;
            }
        }

        function checkQuantity(form) {
            let quantityInput = form.querySelector('.quantity-input');
            let quantity = quantityInput.value;
            if (quantity === '0') {
                let confirmed = confirm('Are you sure to delete this product?');
                if (!confirmed) {
                    quantityInput.value = quantityInput.defaultValue;
                    return false;
                }
            }
            return true;
        }

        const paymentMethodSelect = document.getElementById('payment_method');
        const cardInputContainer = document.querySelector('.payment-container');

        paymentMethodSelect.addEventListener('change', () => {
            const selectedValue = paymentMethodSelect.value;
            if (['Visa', 'Master Card', 'Pardoner', 'Maestro', 'Credit Card', 'Debit Card'].includes(selectedValue)) {
                cardInputContainer.style.display = 'block';
                // add 'required' attribute to all input and select elements inside payment-container
                cardInputContainer.querySelectorAll('input, select').forEach(el => el.setAttribute('required', 'required'));
            } else {
                cardInputContainer.style.display = 'none';
                // remove 'required' attribute from all input and select elements inside payment-container
                cardInputContainer.querySelectorAll('input, select').forEach(el => el.removeAttribute('required'));
            }
        });

    </script>
{% endblock %}