{% extends "dashboard/base/ad_base.html" %}

{% block title %}Update Customer Password{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% load static %}

{% block content %}
    <div class="breadcrumb">
        <a href="/dashboard/">Home</a>
        <span> > </span>
        <a href="/dashboard/customer/">Customer Management</a>
        <span> > </span>
        <a href="/dashboard/customer/update_password/{{ user.id }}/">Update Password Customer</a>
    </div>
    <div class="form-main">
        <h2 class="font-weight-bold mt-3 form-title">Update Password Customer</h2>
        <form method="post" class="form-group" action="">
            {% csrf_token %}
            <div class="form-input">{{ form|crispy }}</div>
            <div class="btn-form">
                <div class="btn-form-left">
                    <a type="button" class="btn btn-dark btn-block" href="/dashboard/customer/update/{{ user.id }}/">Back</a>
                    <button type="reset" class="btn btn-danger btn-block">Reset</button>
                    <button type="submit" class="btn btn-success btn-block">Change Password</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}