{% block style %}
    <style>
        .nav-link {
            color: #ffffff !important;
        }

        .nav-link:hover {
            color: #1253cc !important;
        }

        .image-logo {
            width: 45px;
            height: 45px;
            margin-right: 5px;
        }

        .logo-text {
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
{% endblock %}
<div class="background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand logo-text" href="/">{% load static %}<img
                src="{% static 'main/images/main/logolclshop.png' %}"
                alt="LCL SHOP" title="LCL SHOP" class="image-logo">LCL Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Category</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                            <a class="dropdown-item"
                               href="/customer/product/category/{{ category.slug }}/">{{ category.name }}({{ category.get_products_count }})</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/customer/product/category/all/">All
                            products({{ get_products }})</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Brand</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% for brand in brands %}
                            <a class="dropdown-item"
                               href="/customer/product/brand/{{ brand.slug }}/">{{ brand.name }}({{ brand.get_products_count }})</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/customer/product/brand/all/">All
                            products({{ get_products }})</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/product/search/">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/about/">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/feedback/">Feedback</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/wishlist/"><i class="fa fa-heart"
                                                                          aria-hidden="true"></i>
                            WishList({{ request.user.customer.wishlist_items_count }})</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/wishlist/"><i class="fa fa-heart"
                                                                          aria-hidden="true"></i>
                            WishList(0)</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/cart/"><i class="fa fa-shopping-cart"
                                                                      aria-hidden="true"></i>
                            Cart({{ request.user.customer.cart_items_count }})</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/cart/"><i class="fa fa-shopping-cart"
                                                                      aria-hidden="true"></i>
                            Cart(0)</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/customer/checkout/"><i class="fa fa-crosshairs"
                                                                      aria-hidden="true"></i>
                        Checkout</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"
                                                                                                aria-hidden="true"></i>
                            Account</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <span class="dropdown-item hi-user"><strong>Hi, {{ user.username }}</strong></span>
                            <a class="dropdown-item" href="/auth/profile/"><i class="fa fa-user"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;
                                Profile</a>
                            <a class="dropdown-item" href="/auth/change_email/"><i class="fa fa-envelope"
                                                                                   aria-hidden="true"></i>&nbsp;&nbsp;Change
                                Email</a>
                            <a class="dropdown-item" href="/auth/change_password/"><i class="fa fa-lock"
                                                                                      aria-hidden="true"></i>&nbsp;
                                &nbsp;Change
                                Password</a>
                            <a class="dropdown-item" href="/auth/delivery_address/"><i class="fa fa-map-marker"
                                                                                       aria-hidden="true"></i>&nbsp;&nbsp;Delivery
                                Address
                            </a>
                            <a class="dropdown-item" href="/customer/track_orders/"><i class="fa fa-history"
                                                                                       aria-hidden="true"></i>&nbsp;&nbsp;Track
                                Orders</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/logout/"><i class="fa fa-sign-out"
                                                                             aria-hidden="true"></i>&nbsp;&nbsp;Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register/"><i class="fa fa-user-plus"
                                                                      aria-hidden="true"></i>
                            Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login/"><i class="fa fa-sign-in" aria-hidden="true"></i>
                            Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>