<div class="pagination">
    {% if products.has_previous %}
        {% if products.previous_page_number == 1 %}
            <a href="?page={{ products.previous_page_number }}">Previous</a>
        {% else %}
            <a href="?page=1">First</a>
            <a href="?page={{ products.previous_page_number }}">Previous</a>
            <span class="dots">...</span>
        {% endif %}
    {% else %}
        <span class="disabled">Previous</span>
    {% endif %}

    {% for i in products.paginator.page_range %}
        {% if products.number == i %}
            <span class="current">{{ i }}</span>
        {% elif i > products.number|add:"-3" and i < products.number|add:"3" %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if products.has_next %}
        {% if products.next_page_number == products.paginator.num_pages %}
            <a href="?page={{ products.paginator.num_pages }}">Last</a>
        {% else %}
            <span class="dots">...</span>
            <a href="?page={{ products.next_page_number }}">Next</a>
            <a href="?page={{ products.paginator.num_pages }}">Last</a>
        {% endif %}
    {% else %}
        <span class="disabled">Next</span>
        <span class="disabled">Last</span>
    {% endif %}
</div>
<div class="total-product">Showing {{ products.object_list|length}} of {{ products.paginator.count }} products</div>

