{% extends "main/base/base.html" %}
{% block title %}Link Invalid{% endblock %}

{% block style %}
    <style>
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="form-main">
        <h2 class="font-weight-bold mt-3">Activation link is invalid</h2>
        <div class="text-form"><p>The activation link you clicked is either invalid or has expired. </p>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">

    </script>
{% endblock %}