{% extends "main/base/base.html" %}
{% block title %}Login{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container">
        <h1>Cart</h1>
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Delete</th>
            </tr>
            <tr>
                <td>Product 1</td>
                <td>1</td>
                <td>100</td>
                <td>100</td>
                <td><a href="#">Delete</a></td>
            </tr>
            <tr>
                <td>Product 2</td>
                <td>1</td>
                <td>100</td>
                <td>100</td>
                <td><a href="#">Delete</a></td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    </script>
{% endblock %}