{% extends "main/base/base.html" %}
{% block title %}Checkout{% endblock %}
{% block style %}
    <style>
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container-main">
        <div class="form-main">
            <h2 class="font-weight-bold mt-3 form-title">Check Out</h2>
            <form method="POST" class="form-group" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-input">
                    {{ form| crispy }}
                </div>
                <div class="btn-form">
                    <button type="submit" class="btn btn-default form-button">Continue Payment</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const avatarInput = document.querySelector('#id_customer_image');
        const avatarImg = document.querySelector('#avatar');
        avatarInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.addEventListener('load', (event) => {
                avatarImg.src = event.target.result;
            });

            reader.readAsDataURL(file);
        });
    </script>
{% endblock %}