{% extends "dashboard/base/ad_base.html" %}

{% block title %} Product {{ product.name }} details{% endblock %}
{% block style %}
    <style>
        .card-title, .form-display {
            padding: 10px 0;
            margin: 5px 0;
        }

        .form-display-description {
            padding-top: 20px;
            border: 2px solid #ccc;
            margin-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 5px;
            white-space: normal;
            word-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            height: 100%;
            transition: all 0.5s ease;
        }

        .img-details {
            border: 1px solid #ccc;
            max-width: 300px;
            max-height: 300px;
            height: 300px;
            width: 300px;
            margin: 20px 0;
        }

        .card-title {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .rating .fa {
            color: #ffd513;
            cursor: pointer;
            margin: 0 2px;
            font-size: 18px;
            font-weight: 500;
        }
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class="breadcrumb">
        <a href="/dashboard/">Home</a>
        <span> > </span>
        <a href="/dashboard/product/">Product Management</a>
        <span> > </span>
        <a href="/dashboard/customer/details/{{ product.id }}/">Product Details</a>
    </div>
    <h1 class="h3 mb-2 text-gray-800">Product Details</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <h2 class="font-weight-bold mt-3 form-title">Details about product
                - "{{ product.name }}"</h2>
            <h5 class="card-title">Product Image:</h5>
            <div class="img-details">
                <img class="img-display" src="{{ MEDIA_URL }}{{ product.product_image.url }}"
                     alt="{{ product.name }}" title="{{ product.name }}">
            </div>
            <li class="form-display"><strong>ID</strong>: {{ product.id }}</li>
            <li class="form-display"><strong>Product Slug</strong>: {{ product.slug }}</li>
            <li class="form-display"><strong>Product Name</strong>: {{ product.name }}</li>
            <li class="form-display"><strong>Product Price Original</strong>: ${{ product.price_original }}</li>
            <li class="form-display"><strong>Product Price</strong>: ${{ product.price }}</li>
            <li class="form-display"><strong>Product Old Price</strong>: ${{ product.old_price }}</li>
            <li class="form-display"><strong>Product Category</strong>: {{ product.category }}</li>
            <li class="form-display"><strong>Product Brand</strong>: {{ product.brand }}</li>
            <li class="form-display"><strong>Product Stock</strong>: {{ product.stock }}</li>
            <li class="form-display"><strong>Product Profit</strong>: ${{ product.profit }}</li>
            <li class="form-display"><strong>Product Rating</strong>: {{ product.review_count }}
                ({{ product.review_rate_average }}/5.0<span
                        class="rating"><i class="fa fa-star" aria-hidden="true"></i></span>)
            </li>
            <li class="form-display"><strong>Product View</strong>: {{ product.view_count }}</li>
            <li class="form-display"><strong>Product Created Date</strong>: {{ product.created_date }}</li>
            <li class="form-display"><strong>Product Updated Date</strong>: {{ product.updated_date }}</li>
            <li class="form-display"><strong>Product Description</strong>:
                <div id="product-description" class="form-display-description">
                    {{ product.description }}
                </div>
            </li>
            <div class="btn-form">
                <div class="btn-form-left">
                    <a type="button" class="btn btn-dark btn-block" href="/dashboard/product/">Back</a>
                    <a type="button" class="btn btn-danger btn-block"
                       href="/dashboard/product/delete/{{ product.id }}/"
                       onclick="return confirm('Are you sure?')">Delete</a>
                    <a type="button" class="btn btn-success btn-block"
                       href="/dashboard/product/update/{{ product.id }}/">Update</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        document.getElementById("product-description").innerHTML = "{{ product.description|escapejs }}";
    </script>
{% endblock %}