{% extends "dashboard/base/ad_base.html" %}

{% block title %}Change Email{% endblock %}
{% block style %}
    <style>
        #hint_id_new_password1 ul {
            padding-left: 15px;
        }
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="breadcrumb">
        <a href="/dashboard/">Home</a>
        <span> > </span>
        <a href="/dashboard/change_email/">Change Your Email</a>
    </div>
    <div class="form-main">
        <h2 class="font-weight-bold mt-3 form-title">Change Your Email</h2>
        <p class="form-subtitle">Enter your new email address below.</p>
        <form method="POST" class="form-group">
            {% csrf_token %}
            <div class="form-input">{{ form|crispy }}</div>
            <p><a href="/dashboard/customer/update_password/{{ user.id }}/">Forgot Password?</a></p>
            <div class="btn-form">
                <div class="btn-form-left">
                    <a type="button" class="btn btn-dark btn-block" href="/dashboard/">Back</a>
                    <button type="reset" class="btn btn-danger btn-block">Reset</button>
                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}