{% extends "dashboard/base/ad_base.html" %}

{% block title %}Customer Management{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <h1 class="h2 mb-2 text-black-800">Customer Management</h1>
    {# Searchbox bar right here#}
    <div class="search-form">
        <form action="/dashboard/search_customer/" method="post">
            {% csrf_token %}
            <div class="input-group search-manage">
                <input type="text" class="form-control border-0 small search-manage-input" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2" name="search">
                <input type="hidden" name="t" value="{{ timestamp }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {#add button delete all user#}
            <a type="button" class="btn btn-primary btn-md float-right button-add" href="/dashboard/add_customer/"><img
                    src="{% static 'dashboard/images/icons/add.png' %}" class="add-icon" alt="Add New Customer"
                    title="Add New "> Add New
            </a>
            <button class="btn btn-danger btn-md float-right button-delete" data-toggle="modal"
                    data-target="#addUserModal"><img
                    src="{% static 'dashboard/images/icons/trash.png' %}" class="add-icon" alt="Add New Customer"
                    title="Add New Customer"> Delete All
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-auto table-style">
                    <thead>
                    <tr>
                        <th scope="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="select-all">
                                <label class="form-check-label" for="select-all"></label>
                            </div>
                        </th>
                        <th scope="col">No.</th>
                        <th scope="col">CustomerID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Address</th>
                        <th scope="col">Active</th>
                        <th scope="col">Role</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ user.id }}"
                                           id="select-user-{{ user.id }}">
                                    <label class="form-check-label" for="select-user-{{ user.id }}"></label>
                                </div>
                            </td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            {% for customer in customers %}
                                {% if customer.user == user %}
                                    <td>{{ customer.get_name }}</td>
                                    <td>{{ customer.mobile }}</td>
                                    <td>{{ customer.address }}</td>
                                {% endif %}
                            {% empty %}
                                <td></td>
                                <td></td>
                                <td></td>
                            {% endfor %}
                            {% if user.is_active %}
                                <td>Activated</td>
                            {% else %}
                                <td>Not Active</td>
                            {% endif %}
                            {% if user.is_superuser %}
                                <td>Admin</td>
                            {% else %}
                                <td>Customer</td>
                            {% endif %}
                            <td class="action"><a href="#"><img src="{% static 'dashboard/images/icons/detail.png' %}"
                                                                alt="Details" title="Details"></a>
                                <a href="/dashboard/update_customer/{{ user.id }}"><img src="{% static 'dashboard/images/icons/edit.png' %}" alt="Edit"
                                                 title="Edit"></a>
                                <a href="/dashboard/delete_customer/{{ user.id }}?t={{ timestamp }}"
                                   onclick="return confirm('Are you sure?')">
                                    <img src="{% static 'dashboard/images/icons/delete.png' %}" alt="Delete"
                                         title="Delete"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}