{% extends "main/base/base.html" %}
{% block title %}Login{% endblock %}

{% block style %}
    <style>
        .login-main {
            width: 500px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            border: 2px solid #ccc;
            border-radius: 5px;
            align-content: center;
            justify-content: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .login-input {
            width: 90%;
            margin: auto;
            text-align: left;
            justify-content: center;
            align-content: center;
        }

        .login-button {
            width: 90%;
            margin-top: 5px;
            border-radius: 10px;
        }

    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="login-main">
        <h1>Login</h1>
        <form method="post" class="form-group">
            {% csrf_token %}
            <div class="login-input">{{ form|crispy }}</div>
            <p>Don't have an account? Create one <a href="/register">Here</a></p>
            <p><a href="/password_reset">Forgot Password?</a></p>
            <button type="submit" class="btn btn-success login-button">Login</button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">

    </script>
{% endblock %}