{% extends "main/base/base.html" %}
{% block title %}Login{% endblock %}

{% block style %}
    <style>
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="breadcrumb">
        <a href="/">Home</a>
        <span> > </span>
        <a href="/auth/login/">Login</a>
    </div>
    <div class="container-main">
        <div class="form-main">
            <h2 class="font-weight-bold mt-3 form-title">Login</h2>
            <form method="post" class="form-group">
                {% csrf_token %}
                <div class="form-input">{{ form.username|as_crispy_field }}</div>
                <div class="form-input">{{ form.password|as_crispy_field }}</div>
                <div class="form-input">{{ form.captcha|as_crispy_field }}</div>
                <div class="text-checkbox">{{ form.rememberMe|as_crispy_field }}</div>
                <p>Don't have an account? <a href="/auth/register/">Create an account.</a></p>
                <div class="btn-form">
                    <button type="submit" class="btn btn-default form-button">Login</button>
                </div>
                <p class="register-link-login"><a href="/auth/password_reset/">Forgot Password?</a></p>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    </script>
{% endblock %}