@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background-color: #ffffff;
}

/* My color*/
/*#081c6e blue */
/*#343a40 black */
/*#28a745 green */
/*#ffffff white */

/* Scroll View */
.button-scroll {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 15px;
    font-size: 30px;
}

.button-scroll:hover {
    background-color: #555;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

/*End Scroll View*/


/* Custom CSS*/
.content {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Form CSS */
.form-main {
    width: 100%;
    min-width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.form-title {
    padding-bottom: 20px;
}

.form-input {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    text-align: left;
    justify-content: center;
    align-content: center;
}

.form-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    width: 100%;
    border-radius: 10px;
    background-color: #081c6e;
    color: #fff;
    font-size: 20px;
}

.form-button:hover {
    transition: 0.5s;
    background-color: #4CAF50;
}

.btn-form {
    width: 100%;
    padding: 5px 25px;
}

.text-form {
    padding-top: 10px;
    width: 90%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.register-link-login {
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

/* Desktop (1048px) */
@media only screen and (min-width: 1048px) {
    /* Form CSS */
    .form-main {
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    .form-title {
        padding-bottom: 20px;
    }

    .form-input {
        margin-bottom: 10px;
    }

    .form-input input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-input label {
        font-size: 18px;
        font-weight: bold;
    }

    .form-button {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        background-color: #081c6e;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.5s;
    }

    .form-button:hover {
        background-color: #4CAF50;
    }

    .btn-form {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-form button,
    .btn-form a {
        margin: 5px;
        border-radius: 5px;
        font-size: 17px;
    }

    .text-form {
        margin-top: 20px;
        font-size: 18px;
        text-align: center;
    }

    .text-checkbox {
        width: 100%;
        padding-left: 30px;
        text-align: left;
    }

    .text-img {
        width: 100%;
        padding-left: 30px;
        text-align: left;
    }
}

/* Tablet (768px) */
@media only screen and (max-width: 1047px) and (min-width: 768px) {
    .form-main {
        width: 100%;
        padding: 0;
        min-width: 400px;
    }

    .text-checkbox {
        width: 100%;
        padding-left: 30px;
        text-align: left;
    }

    .text-img {
        width: 100%;
        padding-left: 30px;
        text-align: left;
    }
}

/* Mobile (480px) */
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .form-main {
        padding: 0;
        width: 100%;
        min-width: 280px;
    }

    .text-img {
        width: 100%;
        padding-left: 30px;
        text-align: left;
    }
}

/* Mobile (less than 480px) */
@media only screen and (max-width: 479px) {
    .form-main {
        padding: 0;
        width: 100%;
        min-width: 280px;
    }

    .text-img {
        width: 100%;
        padding-left: 30px;
        text-align: left;
    }
}
