{% extends "dashboard/base/ad_base.html" %}

{% block title %}Review Management{% endblock %}
{% block style %}
    <style>
        .rating .fa {
            color: #ffd513;
            cursor: pointer;
            margin: 0 2px;
            font-size: 18px;
            font-weight: 500;
        }
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}


{% block content %}
    <h1 class="h2 mb-2 text-black-800 title-manage">Review Management</h1>
    <div class="breadcrumb">
        <a href="/dashboard/">Home</a>
        <span> > </span>
        <a href="/dashboard/review/">Review Management</a>
    </div>
    {# Searchbox bar right here#}
    <div class="search-form">
        <form action="/dashboard/review/search/" method="post">
            {% csrf_token %}
            <div class="input-group search-manage">
                <input type="text" class="form-control border-0 small search-manage-input" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2" name="search"
                       {% if search_query %}value="{{ search_query }}"{% endif %}>
                <input type="hidden" name="t" value="{{ timestamp }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search fa-sm"></i>
                    </button>
                    <a type="button" class="btn btn-danger" id="clear-btn" href="/dashboard/review/">
                        <i class="fa fa-times fa-sm"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    {# End of searchbox bar#}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form id="delete-form" method="post" action="/dashboard/review/delete_selected/">
                {% csrf_token %}
                <button type="button" id="delete-selected" class="btn btn-danger btn-md float-right btn-block"
                        title="Delete Selected" name="delete_selected" data-submit-form><img
                        src="{% static 'dashboard/images/icons/trash.png' %}" class="add-icon" alt="Delete Selected"
                        title="Delete Selected">Delete Selected
                </button>
            </form>
            <button type="button" class="btn btn-success btn-md float-right btn-block dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img
                    src="{% static 'dashboard/images/icons/export.png' %}" class="add-icon" alt="Export Data"
                    title="Export Data">
                Export Data
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/dashboard/review/export/csv/">Export to CSV</a>
                <a class="dropdown-item" href="/dashboard/review/export/excel/">Export to Excel</a>
                <a class="dropdown-item" href="/dashboard/review/export/json/">Export to JSON</a>
            </div>
        </div>
        {% if reviews %}
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-auto table-style">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th scope="col">No.</th>
                            <th scope="col">ID</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Review Rate</th>
                            <th scope="col">Message Review</th>
                            <th scope="col">Date Added</th>
                            <th scope="col">Date Updated</th>
                            <th scope="col">Status</th>
                            <th scope="col">Change Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for review in reviews %}
                            <tr>
                                <td><input type="checkbox" class="select-checkbox" name="selected_review"
                                           value="{{ review.id }}"></td>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ review.id }}</td>
                                <td>{{ review.customer.user.username }}</td>
                                <td>{{ review.name }}</td>
                                <td>{{ review.product.name }}</td>
                                <td>
                                    <div class="main-image-table">
                                        {% if review.product.product_image %}
                                            <img src="{{ MEDIA_URL }}{{ review.product.product_image.url }}"
                                                 alt="Product Image"
                                                 class="img-thumbnail image-table"
                                                 title="Product image of {{ review.product.name }}"/>
                                        {% else %}
                                            <img src="{% static 'dashboard/images/dashboard/default.jpg' %}"
                                                 alt="Default Image"
                                                 class="img-thumbnail image-table"
                                                 title="Default Image"/>
                                        {% endif %}
                                    </div>
                                </td>
                                <td style="white-space: nowrap;">{% if review.rate == 1 %}
                                    <span
                                        class="rating"><i class="fa fa-star" aria-hidden="true"></i></span>
                                {% elif review.rate == 2 %}
                                    <span class="rating"><i class="fa fa-star" aria-hidden="true"></i><i
                                            class="fa fa-star" aria-hidden="true"></i></span>
                                {% elif review.rate == 3 %}
                                    <span
                                        class="rating"><i class="fa fa-star" aria-hidden="true"></i><i
                                            class="fa fa-star" aria-hidden="true"></i><i
                                            class="fa fa-star" aria-hidden="true"></i></span>
                                {% elif review.rate == 4 %}
                                    <span
                                        class="rating"><i class="fa fa-star" aria-hidden="true"></i><i
                                            class="fa fa-star" aria-hidden="true"></i><i
                                            class="fa fa-star" aria-hidden="true"></i><i
                                            class="fa fa-star" aria-hidden="true"></i></span>
                                {% elif review.rate == 5 %}
                                    <span class="rating"><i class="fa fa-star" aria-hidden="true"></i><i
                                            class="fa fa-star" aria-hidden="true"></i><i
                                            class="fa fa-star" aria-hidden="true"></i><i
                                            class="fa fa-star" aria-hidden="true"></i><i
                                            class="fa fa-star" aria-hidden="true"></i></span>
                                {% endif %}

                                </td>
                                <td>{{ review.message_review }}</td>
                                <td>{{ review.date_added }}</td>
                                <td>{{ review.date_updated }}</td>
                                {% if review.review_status %}
                                    <td><img src="{% static 'dashboard/images/icons/icon-yes.svg' %}" alt="True"
                                             style="width:20px;height: 20px;"
                                             title="True"></td>
                                {% else %}
                                    <td><img src="{% static 'dashboard/images/icons/icon-no.svg' %}" alt="False"
                                             style="width:20px;height: 20px;"
                                             title="False"></td>
                                {% endif %}
                                <td><a type="button" class="btn btn-success"
                                       href="/dashboard/review/change_status/{{ review.id }}/">Change Status</a>
                                </td>
                                <td class="action">
                                    <a href="/dashboard/review/details/{{ review.id }}/"><img
                                            src="{% static 'dashboard/images/icons/detail.png' %}"
                                            alt="Details"
                                            title="Details"></a>
                                    <a href="/dashboard/review/delete/{{ review.id }}/"
                                       onclick="return confirm('Are you sure to delete this review?')"><img
                                            src="{% static 'dashboard/images/icons/delete.png' %}"
                                            alt="Delete"
                                            title="Delete"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'dashboard/manage_review/pagination.html' %}
            </div>
        {% else %}
            {% include 'dashboard/manage_review/404.html' %}
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    <script>
        // Delete selected function
        document.addEventListener("DOMContentLoaded", function () {
            // Get the form and the delete selected button
            let form = document.getElementById("delete-form");
            let deleteBtn = document.querySelector("[data-submit-form]");
            let selectAllCheckbox = document.getElementById("select-all");

            // Listen for the click event on the delete selected button
            deleteBtn.addEventListener("click", function (event) {
                // Get the selected checkboxes
                let checkboxes = document.querySelectorAll(".select-checkbox:checked");
                // If no checkboxes are selected, prevent the form submission
                if (checkboxes.length === 0) {
                    event.preventDefault();
                    alert("Please select at least one review to delete.");
                } else {
                    // Show confirm dialog and proceed only if OK is clicked
                    let confirmed = confirm('Are you sure to delete this selected?');
                    if (confirmed) {
                        // Update the action attribute of the form
                        let Ids = Array.from(checkboxes).map(function (checkbox) {
                            return checkbox.value;
                        });
                        form.action = "/dashboard/review/delete_selected/" + Ids.join("+") + "/";
                        // Submit the form
                        form.submit();
                    }
                }
            });

            // Listen for the click event on the select-all checkbox
            selectAllCheckbox.addEventListener("click", function () {
                // Get all the object checkboxes
                let objectCheckboxesAll = document.querySelectorAll(".select-checkbox");
                // Set their checked property based on the select-all checkbox
                objectCheckboxesAll.forEach(function (checkbox) {
                    checkbox.checked = selectAllCheckbox.checked;
                });
                // Update the action attribute of the form
                let Ids = Array.from(objectCheckboxesAll)
                    .filter(function (checkbox) {
                        return checkbox.checked;
                    })
                    .map(function (checkbox) {
                        return checkbox.value;
                    });
                form.action = "/dashboard/review/delete_selected/" + Ids.join("+") + "/";
            });
        });
    </script>
{% endblock %}