{% extends "main/base/base.html" %}

{% block title %}Register{% endblock %}

{% block style %}
    <style>
        #hint_id_password1 ul {
            padding-left: 15px;
        }
    </style>
{% endblock %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class="breadcrumb">
        <a href="/">Home</a>
        <span> > </span>
        <a href="/auth/register/">Register</a>
    </div>
    <div class="container-main">
        <div class="form-main">
            <h2 class="font-weight-bold mt-3 form-title">Register an account</h2>
            <form method="post" class="form-group" enctype="multipart/form-data">
                {% csrf_token %}
                <h5 class="card-title">Your Avatar</h5>
                <div class="img-details">
                    <img id="avatar" class="img-display" src="{% static 'dashboard/images/dashboard/default.jpg' %}"
                         alt="Default Avatar" title="Default Avatar">
                </div>
                <div class="form-input">{{ form|crispy }}</div>
                <div class="text-checkbox">
                    <input type="checkbox" name="terms" required checked> I agree to the <a href="/auth/terms_and_conditions/">Terms and
                    Conditions</a> and <a href="/auth/privacy_policy/">Privacy Policy.</a>
                </div>
                <div class="btn-form">
                    <button type="submit" class="btn btn-default form-button">Register</button>
                </div>
                <p class="register-link-login">Already an account? <a href="/auth/login/">Login</a></p>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const avatarInput = document.querySelector('#id_customer_image');
        const avatarImg = document.querySelector('#avatar');
        avatarInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.addEventListener('load', (event) => {
                avatarImg.src = event.target.result;
            });

            reader.readAsDataURL(file);
        });
    </script>
{% endblock %}